@charset "UTF-8";

:root{
  --cor0: #203F59;
  --cor1:#04ADBF;
  --cor2:#3FBF9B;

  --font-padrao: Arial,Verdana, Helvetica, sans-serif;
}


*{
  margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}

header{

  min-height: 150px;
  text-align: center;
  padding-top: 40px;
  background-image: linear-gradient(to bottom,  var(--cor0),var(--cor2));
}

header >h1{
  color: rgb(225, 224, 224);
  font-family: var(--font-padrao);
  font-size: 3em;
  padding-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
}

nav{
  background-color: var(--cor2);
    padding: 10px;
   
}

nav >a {
  color: white;
  padding: 10px;
  text-decoration:  none;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: .5s;
}

nav > a:hover{
  background-color: var(--cor3);
  color: var(--cor5);
}

body{
    padding: 40px 80px 40px 80px;
    
    
}

main{
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-radius: 0px 0px 0px 0px;
}

main h2 {
  color: var(--cor1);
  font-family: var(--fonte-android);
}

main p{
  margin: 15px 0px 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1em;
}


  p{
    text-align: justify;
  }

  img{
    width: 100%;
    
  }

  li{
    padding-top: 50px;
  }